<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create User</title>
    <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <div id="root"></div>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script type="text/babel" data-type="module">
      const List = () => {
        const [result, setResult] = React.useState([]);
        const [error, setError] = React.useState(null);

        const getusers = async () => {
          try {
            const { data } = await axios.get('http://127.0.0.1:8000/allusers');
            setResult(data);
          } catch (error) {
            console.log(error);
            setError('Erro na request');
          }
        };

        React.useEffect(() => {
          getusers();
        }, []);

        return (
          <>
            <div>
              {result.length >= 1 ? (
                result.map((user) => {
                  return (
                    <div key={user.id}>
                      <h1>Nome: {user.name}</h1>
                      <p>Email: {user.email}</p>
                      <p>Endereco: {user.endereco}</p>
                    </div>
                  );
                })
              ) : (
                <h1>Nenhum usuário cadastrado</h1>
              )}
              <br />
              <a href='/'>
                <p>Voltar</p>
              </a>
              <br />
              {error && <h1>Ocorreu um erro na requisição. Verifique o console</h1>}
            </div>
          </>
        );
      };
      ReactDOM.render(<List />, document.getElementById('root'));
    </script>
  </body>
</html>
